html{
	background-color: white;
}
body{
	width: 100%;	
	max-width: 500px;
	margin: auto;
	background-color: #f4f7f8;
	padding: 20px;
	border-radius: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input, textarea, select{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	margin: 0px 0px 30px 0px;
	outline: 0;
	padding: 7px;
	background-color: #e8eeef;
	color: #8a97a0;
	width: 100%;
	max-width: 100%;
}

.legend{
	margin-bottom: 10px;
	font-size: 26px;
}

.number{
	background-color: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 12px;
	margin-right: 5px;
	text-align: center;
	border-radius: 15px 15px 15px 0px;
	line-height: 30px;
}

.apply{
	display: block;
	padding: 19px 39px;
	color: black;
	margin: 0px auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	width: 400px;
}